

@model IEnumerable<NoteApp.Models.NotesModel>
<link href="~/Content/css/recenetNotes.css" rel="stylesheet" />
<span class="badge rounded-pill bg-dark">Recent Add/Modified :</span>
@if (Model.Count() == 0)
{
    <br />
    <span style="margin-left: 574px;" class="badge rounded-pill bg-danger">No Note Added Recently..</span>
}
<div class="card-deck ">
    <div class="row">
        @foreach (var item in Model)
        {
            if (Model != null)
            {
                <!-- Display a div of col-sm-3 containing the card up to n number of times, ie in a loop -->
                <div class="card border-dark mb-3" style="max-width: 16rem;margin-left:16px;">
                    <div class="card-header bg-transparent border-success" style="text-align:center">
                        <span class="badge bg-secondary">Note Id: &nbsp;@item.NoteId</span>
                    </div>
                    <div class="card-body text-success" style="text-align:center">
                        @if (item.NoteFile != null)
                        {
                            FileInfo fi = new FileInfo(item.NoteFile);
                            // Get file extension
                            string extn = fi.Extension;
                            if (extn == ".mp4")
                            {
                                <video controls="controls" loop autoplay muted width="200" height="300">
                                    <source src="@item.NoteFile" type="video/mp4" />
                                </video>
                            }
                            else if (extn == ".mp3")
                            {
                                <audio id="audio" controls style="  width: 230px; margin-left: -17px; margin-top: 121px"><source src="@item.NoteFile"></audio>
                            }
                            else
                            {
                                <a href="#" class="pop">
                                    <img src="@item.NoteFile" style="width: 200px; height: 300px;">
                                </a>
                                <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog  modal-fullscreen" data-dismiss="modal">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <img src="" class="imagepreview" style="width: 60%;">
                                            </div>
                                            <div class="modal-footer">
                                                <div class="col-xs-12">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                        @if (item.NoteDesciption != null)
                        {

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Note Description</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p id="noteText"></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            if (item.NoteDesciption.Length >= 200)
                            {
                                <p id="notetext" style="text-align:center" class="card-text  ">@item.NoteDesciption.ToString().Substring(0, 200)</p>
                                <button onclick="noteDetail(@item.NoteId)" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">Read More </button>
                            }
                            else
                            {
                                <p>@item.NoteDesciption</p>
                            }
                        }
                    </div>

                    <div class="card-footer bg-transparent border-success" style="text-align:center">
                        <span class="badge bg-secondary" style="margin-left: -13px;">Created Date: &nbsp;@item.CreatedDate</span>
                    </div>
                </div>
            }
            else
            {
                <h5 style="text-align:center">Not Found !!</h5>
            }
        }
    </div>
</div>
<script src="~/Scripts/recentNotes.js"></script>
<script type="text/javascript">
    function noteDetail(id) {
        console.log(id)
        $.ajax({
            type: 'GET',
            url: "http://localhost:58940/Note/NoteDetail/" + id,
            dataType: 'json',
            success: function (result) {
                console.log(result)
                $('#noteText').empty();
                $('#noteText').append(result);

            }
        });
    }
</script>